# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

baltimore_data = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
new_york_data = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
boston_data = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
philly_data = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [3]:
# Clean your data here!

# print("The data missing for baltimore is:")
# for col in baltimore_data.columns:
#     pct_missing = np.mean(baltimore_data[col].isnull())
#     print('{} - {}%'.format(col, round(pct_missing*100)))
# print("The data missing for new york is:")
# for col in new_york_data.columns:
#     pct_missing = np.mean(new_york_data[col].isnull())
#     print('{} - {}%'.format(col, round(pct_missing*100)))
# print("The data missing for boston is:")
# for col in boston_data.columns:
#     pct_missing = np.mean(boston_data[col].isnull())
#     print('{} - {}%'.format(col, round(pct_missing*100)))
# print("The data missing for philly is:")
# for col in philly_data.columns:
#     pct_missing = np.mean(philly_data[col].isnull())
#     print('{} - {}%'.format(col, round(pct_missing*100)))

baltimore_data = baltimore_data.drop(["Type","Sub Variety","Grade","Origin District",
                                     "Color","Environment","Quality","Condition",
                                     "Appearance","Storage","Crop","Trans Mode"],axis=1)
new_york_data = new_york_data.drop(["Type","Sub Variety","Grade","Origin District",
                                     "Color","Environment","Quality","Condition",
                                     "Appearance","Storage","Crop","Trans Mode"],axis=1)
boston_data = boston_data.drop(["Type","Sub Variety","Grade","Origin District",
                                     "Color","Environment","Quality","Condition",
                                     "Appearance","Storage","Crop","Trans Mode"],axis=1)
philly_data = philly_data.drop(["Type","Sub Variety","Grade","Origin District",
                                     "Color","Environment","Quality","Condition",
                                     "Appearance","Storage","Crop","Trans Mode"],axis=1)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [4]:
# Combine the four dataframes into one!
data = pd.concat([baltimore_data,new_york_data,boston_data,philly_data],axis=0,
                 keys= ["baltimore", "new_york","boston","philly"])
print(data)

              Commodity Name  City Name             Package      Variety  \
baltimore 0         PUMPKINS  BALTIMORE        24 inch bins          NaN
          1         PUMPKINS  BALTIMORE        24 inch bins          NaN
          2         PUMPKINS  BALTIMORE        24 inch bins  HOWDEN TYPE
          3         PUMPKINS  BALTIMORE        24 inch bins  HOWDEN TYPE
          4         PUMPKINS  BALTIMORE        24 inch bins  HOWDEN TYPE
...                      ...        ...                 ...          ...
philly    347       PUMPKINS     BOSTON  1/2 bushel cartons    MINIATURE
          348       PUMPKINS     BOSTON  1/2 bushel cartons    MINIATURE
          349       PUMPKINS     BOSTON  1/2 bushel cartons    MINIATURE
          350       PUMPKINS     BOSTON  1/2 bushel cartons    MINIATURE
          351       PUMPKINS     BOSTON  1/2 bushel cartons    MINIATURE

                     Date  Low Price  High Price  Mostly Low  Mostly High  \
baltimore 0    04/29/2017        270       280.0         270        280.0
          1    05/06/2017        270       280.0         270        280.0
          2    09/24/2016        160       160.0         160        160.0
          3    09/24/2016        160       160.0         160        160.0
          4    11/05/2016         90       100.0          90        100.0
...                   ...        ...         ...         ...          ...
philly    347  10/22/2016         15        18.0          15         15.0
          348  10/29/2016         15        18.0          15         15.0
          349  10/29/2016         15        18.0          15         15.0
          350  11/05/2016         15        18.0          15         15.0
          351  11/05/2016         15        18.0          15         15.0

                      Origin Item Size Unit of Sale Repack
baltimore 0              NaN       lge          NaN      E
          1              NaN       lge          NaN      E
          2         DELAWARE       med          NaN      N
          3         VIRGINIA       med          NaN      N
          4         MARYLAND       lge          NaN      N
...                      ...       ...          ...    ...
philly    347  MASSACHUSETTS       sml          NaN      N
          348  MASSACHUSETTS       sml          NaN      N
          349  MASSACHUSETTS       sml          NaN      N
          350  MASSACHUSETTS       sml          NaN      N
          351  MASSACHUSETTS       sml          NaN      N

[969 rows x 13 columns]

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [8]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
data[['Low Price','High Price']].groupby(data['Unit of Sale']).agg('mean')

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       193.376068  215.341880

In [13]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
num_cities = len(data['City Name'].unique())
print(data['Variety'].value_counts()/num_cities)

Variety
HOWDEN TYPE                 109.333333
PIE TYPE                     98.666667
MINIATURE                    37.666667
BIG MACK TYPE                28.000000
FAIRYTALE                    19.333333
CINDERELLA                   17.666667
KNUCKLE HEAD                  5.000000
BLUE TYPE                     4.666667
MIXED HEIRLOOM VARIETIES      1.333333
HOWDEN WHITE TYPE             0.666667
Name: count, dtype: float64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!